.CardItem {
    margin-top: 10rem;
    margin-left: 5rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 16px;
    width: 90%;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba(135, 31, 31, 0.37);
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );}
    


.ItemImg {
    max-width: 100%; 
    height: auto; 
    display: block;
    margin: 0 auto; 
    max-height: 400px; 
  }
  

